@charset "UTF-8";

body{
  margin-left: 200px;
  margin-right: 70px;
}

.box{
  position: relative;
}

header{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.headArea1{
  width: 45%;
  font-weight: bold;
  font-size: 120%;
}

.headArea2{
  width: 65%;
}

.titleText{
  font-weight: bold;
}

main{

}

img{
  width: 300px;
}

.pngArea{
  display: flex;
}

.pngType1{
  width: 27%;
}

.pngType2{
  width: 27%;
  margin-top: 100px;
}

.pngSet{
  writing-mode: vertical-lr;
}

.photoText{
  font-size: 12px;
  font-family: serif;
}

.name{
  font-weight: bold;
  font-size: 15px;
}

.push{
  height: 100px;
}

footer{
  opacity: 0.3;
  text-align: center;
  font-size: 12px;
  width: 100%;

  position: absolute;
  bottom: 0;
}

.thickLine{
  text-decoration: underline;
  font-weight: bold;
}
