@charset "UTF-8";

body{
  margin-left: 200px;
  margin-right: 70px;
}

.box{
  position: relative;
}

header{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.headArea1{
  width: 45%;
  font-weight: bold;
  font-size: 120%;
}

.headArea2{
  width: 65%;
}

.titleText{
  font-weight: bold;
}

main{

}

.pngArea{
  display: flex;
  flex-wrap: wrap;
}

.pngType1{
  width: 30%;
}

.pngType2{
  margin-top: 100px;
  width: 30%;
}

.pngType3{
  width: 30%;
}

.pngType4{
  width: 30%;
}

.pngType5{
  margin-top: 100px;
  width: 30%;
}

.pngType6{
  width: 30%;
}

.pngSet{
  writing-mode: vertical-lr;
  width: 80%;
}

img{
  max-width: 100%;
  height: auto;
  width /***/:auto;
}

.photoText{
  font-size: 12px;
  font-family: serif;
}

.name{
  font-weight: bold;
  font-size: 15px;
}

.push{
  height: 100px;
}

footer{
  opacity: 0.3;
  text-align: center;
  font-size: 12px;
  width: 100%;

  position: absolute;
  bottom: 0;
}

.thickLine{
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (max-width: 768px){
  body{
    margin-left: 40px;
    margin-right: 0px;
  }

  header{
    display: block;
  }

  .headArea1{
    width: 100%;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 50px;
  }

  .headArea2{
    width: 100%;
    font-size: 70%;
  }

  .pngArea{
    font-size: 140%;
  }

  .pngType1{
    width: 40%;
  }

  .pngType2{
    width: 40%;
    margin-top: 70px;
    margin-left: 40px;
  }

  .pngType3{
    width: 40%;
  }

  .pngType4{
    width: 40%;
    margin-top: 70px;
    margin-left: 40px;
  }

  .pngType5{
    width: 40%;
    margin-top: 0px;
  }

  .pngType6{
    width: 40%;
    margin-top: 70px;
    margin-left: 40px;
  }

  .space{
    width: 15px;
  }

  .pngSet{
    writing-mode: vertical-lr;
    width: 90%;
  }

  img{
    max-width: 100%;
    height: auto;
    width /***/:auto;
  }

  footer{
    font-size: 6px;
  }
}
