@charset "UTF-8";

body{
  margin-left: 200px;
  margin-right: 70px;
}

.box{
  position: relative;
}

header{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.headArea1{
  width: 45%;
  font-weight: bold;
  font-size: 120%;
}

.headArea2{
  width: 65%;
}

.titleText{
  font-weight: bold;
}

main{

}

img{
  width: 300px;
}

.pngArea{
  display: flex;
  flex-wrap: wrap;
}

.pngType1{
  width: 27%;
}

.pngType2{
  width: 27%;
  margin-top: 100px;
}

.pngType3{
  width: 27%;
}

.pngType4{
  width: 27%;
}

.pngType5{
  width: 27%;
  margin-top: 100px;
}

.pngType6{
  width: 27%;
}

.pngSet{
  writing-mode: vertical-lr;
}

.photoText{
  font-size: 12px;
  font-family: serif;
}

.name{
  font-weight: bold;
  font-size: 15px;
}

.push{
  height: 100px;
}

footer{
  opacity: 0.3;
  text-align: center;
  font-size: 12px;
  width: 100%;

  position: absolute;
  bottom: 0;
}

.thickLine{
  text-decoration: underline;
  font-weight: bold;
}

@media only screen and (max-width: 300px){
  header{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .headArea1{
    width: 100%;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 50px;
  }

  .headArea2{
    width: 100%;
  }

  .pngType1{
    width: 40%;
  }

  .pngType2{
    width: 40%;
    margin-top: 100px;
  }

  .pngType3{
    width: 40%;
  }

  .pngType4{
    width: 40%;
    margin-top: 100px;
  }

  .pngType5{
    width: 40%;
  }

  .pngType6{
    width: 40%;
    margin-top: 100px;
  }

}
